.navbar {
    /* background-color: #007bff; */
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid lightblue;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.navbar ul li {
    margin: 0;
}

.navbar ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s ease;
}

.navbar ul li a:hover,
.active-link {
    background-color: #007bff;
    border-radius: 4px;
    color: white;
}
